<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择需求</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
        .main {
            padding-bottom: 90px;
            background: rgb(238, 238, 238);
        }
        .main .section-content {
            width: 1200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="header-content clearfix">
            <div class="logo-wrap">
                <img src="../image/logo.png" alt="">
            </div>
            <nav class="topbar-nav clearfix">
                <div class="nav-item">
                    <a href="">首页</a>
                </div>
                <div class="nav-item">
                    <a href="">客户案例</a>
                </div>
                <div class="nav-item">
                    <a href="">使用手册</a>
                </div>
                <div class="nav-item">
                    <a href="">定制开发</a>
                </div>
                <div class="nav-item active">
                    <a href="">关于我们</a>
                </div>
            </nav>
            <div class="topbar-right clearfix">
                <div class="regist"><a href="">免费注册</a></div>
                <div class="login"><a href="">登录</a></div>
                <div class="personal-center">
                    <a href="">
                        <i class="iconfont icon-setting"></i>
                        <span class="text">个人中心</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
       <div class="content">
           <section class="section">
               <div class="title">服务器配置推荐</div>
               <ul class="server-list clearfix">
                    <li class="server-item recommend-server">
                        <a href="">
                            <div class="config">
                                <div class="top">
                                    <div class="name">标准型S1</div>
                                    <ul class="desc-list">
                                        <li class="desc-item">较新一代的标准型实例</li>
                                        <li class="desc-item">整数和浮点运算性能相比标准型S1 提升40%</li>
                                        <li class="desc-item">搭配DDR4内存，性能提升30%</li>
                                        <li class="desc-item">网络收发能力最高可达 40万 pps</li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <ul class="config-list">
                                        <li class="config-item">最高配：56vCPU 224</li>
                                        <li class="config-item">CPU类型：2.40GHz Intel E5-Xeon Broadwell v4</li>
                                        <li class="config-item">内存类型：DDR4</li>
                                        <li class="config-item">系统盘：本地盘、普通云盘、高效云盘、SSD云盘</li>
                                        <li class="config-item">数据盘 :本地盘、普通云盘、高效云盘、SSD云</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="foot">
                                <div class="price"><em>504</em>元/年</div>
                                <button>购买此机型</button>
                            </div>
                        </a>
                    </li>
                    <li class="server-item recommend-server">
                        <a href="">
                            <div class="config">
                                <div class="top">
                                    <div class="name">标准型S1</div>
                                    <ul class="desc-list">
                                        <li class="desc-item">较新一代的标准型实例</li>
                                        <li class="desc-item">整数和浮点运算性能相比标准型S1 提升40%</li>
                                        <li class="desc-item">搭配DDR4内存，性能提升30%</li>
                                        <li class="desc-item">网络收发能力最高可达 40万 pps</li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <ul class="config-list">
                                        <li class="config-item">最高配：56vCPU 224</li>
                                        <li class="config-item">CPU类型：2.40GHz Intel E5-Xeon Broadwell v4</li>
                                        <li class="config-item">内存类型：DDR4</li>
                                        <li class="config-item">系统盘：本地盘、普通云盘、高效云盘、SSD云盘</li>
                                        <li class="config-item">数据盘 :本地盘、普通云盘、高效云盘、SSD云</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="foot">
                                <div class="price"><em>504</em>元/年</div>
                                <button>购买此机型</button>
                            </div>
                        </a>
                    </li>
                   <li class="server-item recommend-server">
                        <a href="">
                            <div class="config">
                                <div class="top">
                                    <div class="name">标准型S1</div>
                                    <ul class="desc-list">
                                        <li class="desc-item">较新一代的标准型实例</li>
                                        <li class="desc-item">整数和浮点运算性能相比标准型S1 提升40%</li>
                                        <li class="desc-item">搭配DDR4内存，性能提升30%</li>
                                        <li class="desc-item">网络收发能力最高可达 40万 pps</li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <ul class="config-list">
                                        <li class="config-item">最高配：56vCPU 224</li>
                                        <li class="config-item">CPU类型：2.40GHz Intel E5-Xeon Broadwell v4</li>
                                        <li class="config-item">内存类型：DDR4</li>
                                        <li class="config-item">系统盘：本地盘、普通云盘、高效云盘、SSD云盘</li>
                                        <li class="config-item">数据盘 :本地盘、普通云盘、高效云盘、SSD云</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="foot">
                                <div class="price"><em>504</em>元/年</div>
                                <button>购买此机型</button>
                            </div>
                        </a>
                   </li>
               </ul>
           </section>
       </div>
    </div>
    <footer class="footer">
        <div class="content clearfix">
            <div class="nav clearfix">
                <dl>
                    <dt>公司产品</dt>
                    <dd><a href="">APP开发</a></dd>
                    <dd><a href="">网站开发</a></dd>
                    <dd><a href="">微信小程序</a></dd>
                    <dd><a href="">微信小程序</a></dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="">公司简介</a></dd>
                    <dd><a href="">新闻资讯</a></dd>
                    <dd><a href="">人才招聘</a></dd>
                </dl>
                <dl>
                    <dt>客户服务</dt>
                    <dd><a href="">支付方式</a></dd>
                    <dd><a href="">在线沟通</a></dd>
                </dl>
            </div>
            <div class="contact">
                <div class="phone">800-000-0000</div>
                <div class="time">周一至周五 09:00 - 18:00</div>
                <ul class="contact-way-list clearfix">
                    <li class="contact-way-item">
                        <a href="">
                        </a>
                    </li>
                    <li class="contact-way-item">
                        <a href="">
                        </a>
                    </li>
                    <li class="contact-way-item">
                        <a href="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="copyright-content clearfix">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <p class="copyright">2009-2016 © 广州聚慧网络科技有限公司 版权所有 粤ICP备******号-*  网站地图</p>
            </div>
        </div>
    </footer>
</body>
</html>