<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <style>
        body, html {
            width: 100%;
            height: 100%;
        }
        .main {
            width: 100%;
            height: 100%;
            background: #ccc;
        }
        .box {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -265px;
            margin-top: -335px;
            width: 530px;
            height: 670px;
            border-radius: 10px;
            background: #fff;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="box bind-phone">
            <div class="title">请绑定手机号</div>
            <a href="">登录</a>
            <div class="input-row">
                <input type="text" placeholder="手机号">
            </div>
            <div class="input-row">
                <input type="text" placeholder="动态密码">
                <button type="button">获取动态密码</button>
            </div>
            <div class="protocol">
                <input type="checkbox">
                同意<a href="">《聚惠网络用户注册协议》</a>
            </div>
            <button type="button">登录</button>
        </div>
    </div>
</body>
</html>